@font-face {
    font-family: 'chivo';
    src: url('~static/fonts/chivo-regular.woff2') format('woff2'),
        url('~static/fonts/chivo-regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'archivo';
    src: url('~static/fonts/archivo-semibold.woff2') format('woff2'),
        url('~static/fonts/archivo-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'archivo';
    src: url('~static/fonts/archivo-bold.woff2') format('woff2'),
        url('~static/fonts/archivo-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
