// Variables //


// Colors
$white: #ffffff;
$black: #000000;
$grey: #D1D4E1;
$primary: #192A6B;
$primary-alt-light: #F4F9FD;
$primary-light: #AFB0CC;
$primary-x-light: #D7DDF6;
$secondary: #F9586E;
$secondary-light: #FFD4D5;
$tertiary: #489FDF;
$tertiary-light: #BEE4FF;
$quaternary: #B7BF10;
$quaternary-light: #EFF1AF;
$quaternary-dark: #009CA6;
$quinary: #F08038;
$quinary-light: #FCC596;


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$chivo: 'chivo',
sans-serif;
$archivo: 'archivo',
sans-serif;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop-large: '1600px';
$desktop-medium: '1400px';
$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/3*1%;
$tileCol: 100/6*1%;
$tile2Col: 100/12*1%;

$gutter: 80px;
$gutter-small: 40px;
