/* Mod */
.module {
    &.over-all {
        position: relative;
        z-index: 3;
    }

    &.over {
        position: relative;
        z-index: 2;
    }
}

.mod {
    padding-top: 250px;
    padding-bottom: 250px;

    &.medium-padding {
        padding-top: 175px;
        padding-bottom: 175px;
    }

    &.small-padding {
        padding-top: 125px;
        padding-bottom: 125px;
    }

    &.x-small-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &.no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.no-padding-top {
        padding-top: 0;
    }

    &.no-padding-bottom {
        padding-bottom: 0;
    }

    &.x-small-padding-bottom {
        padding-bottom: 80px;
    }
}

@media (max-width: $desktop-large) {
    .mod {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media (max-width: $desktop) {
    .mod {
        padding-top: 150px;
        padding-bottom: 150px;

        &.medium-padding {
            padding-top: 150px;
            padding-bottom: 150px;
        }

        &.x-small-padding {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.x-small-padding-bottom {
            padding-bottom: 60px;
        }

        &.no-padding-top {
            padding-top: 0;
        }

        &.no-padding-bottom {
            padding-bottom: 0;
        }
    }
}

@media (max-width: $desktop-small) {
    .mod {
        padding-top: 100px;
        padding-bottom: 100px;

        &.small-padding,
        &.medium-padding {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &.no-padding-top {
            padding-top: 0;
        }

        &.no-padding-bottom {
            padding-bottom: 0;
        }
    }
}

@media (max-width: $tablet) {
    .mod {
        &.x-small-padding {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &.x-small-padding-bottom {
            padding-bottom: 50px;
        }

        &.no-padding-top {
            padding-top: 0;
        }

        &.no-padding-bottom {
            padding-bottom: 0;
        }
    }
}
